__pycache__/
*.pyc
db/
incremental_db/
output_files/
**/can_ids_uvm_work/
**/canfd_secoc_uvm_work/
**/work/
modelsim.ini
transcript
*.log
*.vcd
*.wlf
*.dll
*.o
*.obj
*.zip
*.pdf
*.docx
*.pptx
*.sof
*.pof
*.rbf
ip/sensor_spi_ip/
!evidence/
!evidence/**
